{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="display-4 fw-normal"><span style="color:darkgreen">LMS 6</span> Home at Accounts App Level</h1>

{% for account in accounts %}
<h2>User: {{ account }}</h2>

<p class="fs-4">Name: {{account.first_name}} {{account.last_name}}</p>
<p class="fs-4">Date Joined: {{ account.date_joined }}</p>
<p class="fs-4">Last Login: {{account.last_login}}</p>

<p>Is SuperUser? {{ account.is_superuser}} </p>
<p>Is Active? {{ account.is_active}} </p>
<p>Is Staff? {{ account.is_staff}} </p>
<p>Is Admin? {{ account.is_admin}} </p>
<p></p>
<p>================</p>
{% endfor %}

{% endblock content %}