

{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block page_title %}
Staff Detail
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">         
              <div class="col-md-8" style="margin: 0 auto;">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Staff Admin ID: {{staff.admin_id}} </h3>
  
                    <div class="card-tools">      <!-- search -->
                      <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>    <!-- ./card-header -->

                  <div class="card-body m-2">

                    <h5>Staff ID: {{staff.id}}</h5>
                    <h1 class="my-4">{{staff.admin.first_name}} {{staff.admin.last_name}}
                    <h5>Created on: <span style="margin-right: 2rem; font-weight: 300;">{{staff.date_joined}}</span> Updated on: <span style="font-weight: 300;">{{staff.updated_at}}</span></h5>

                      <h3 class="mt-5">Subject: {% for subject in staff.subjects.all %}
                        {{ subject.subject_name }}
                    {% endfor %} </h3>
                    <h5 class="mb-5">Course: {{course_staff}} | </h5>
                     
                      <a href="{% url 'staff_list' %}" class="btn btn-success mr-3">Go to All Staff</a>  <a href="{% url 'staff_update' staff.id %}" class="btn btn-info mr-3">Edit Staff</a><a href="{% url 'staff_delete' staff.id %}" class="btn btn-danger">Delete Staff</a>
                 
      
            </div> 
          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

